body {
	height: 100vh;
    background-image: url(/media/images/black.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
