body {
    background-color: #114;    
    margin: 0;
    overflow: hidden;
}
.label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .15);
}

canvas { display:block; }