<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Binaural Beats Generator</title>
<meta name="description" content="Shopno - 
Binaural Beats Generator">
<meta name="keywords" content="Shopno,Binaural Beats Generator,Salman Chowdhury Shopno">
<meta name="author" content="Salman Chowdhury Shopno">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/code/css/element_style.css" type="text/css">

</head>
<body>
<center><img src="/media/animation/BinauralBeatsGenerator.gif" alt="Binaural Beats Generator" style="width:250px"></center>
<!-- partial:index.partial.html -->
<br>
	
</br>
<div id="app">
<center>
<b>
<form>
<div class="rainbow-text"><p>
    <div class="binaural-freq-wrapper">
      <input type="text" id="freq2" name="freq2" v-model="freq2" class="input--frequency"/>
      <p id="freq2label">Left Ear<br />Frequency (HZ)</p>
    </div>
    <div class="binaural-freq-wrapper">
      <input type="text" id="freq" name="freq" v-model="freq" class="input--frequency" />
      <p>Right Ear<br />Frequency (HZ)</p>
    </div>
    <div class="generator-buttons">
      <button type="button" @click="start()" class="beginTuning generatorButton">Play</button>
      <button type="button" @click="stop()" class="stopTuning generatorButton">Stop</button>
</b>
</center>
    </div>
</p>
  </form>
</div>
<!-- partial -->
  <script src='/code/js/binaural_beats_one.js'></script><script  src="/code/js/binaural_beats_two.js"></script>

</body>
</html>